version: '3.8'
services:
  main:
    image: main-sbt
    working_dir: /main
    depends_on:
      - player
    stdin_open: true
  player:
    image: player-sbt
    working_dir: /player/PlayerManager.scala
    stdin_open: true
